@using EcommerceWebsite.MainWeb.Models;
@using Microsoft.AspNetCore.Http;
@model List<GioHang>
<div class="Shopping-cart-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>

                                    <th class="li-product-thumbnail">STT</th>
                                    <th class="li-product-thumbnail">Hình ảnh</th>
                                    <th class="cart-product-name">Tên sản phẩm</th>
                                    <th class="li-product-price">Giá</th>
                                    <th class="li-product-quantity">Số lượng</th>
                                    <th class="li-product-subtotal">Thành tiền</th>
                                    <th class="li-product-remove" colspan="2">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    var stt = 0;
                                    foreach (var item in Model)
                                    {
                                        stt++;
                                        <tr>
                                            <td class="li-product-name"><a href="#">@stt</a></td>
                                            <td class="li-product-thumbnail" style="width: 200px"><a href="#"><img src="@item.hinhAnh" alt="@item.tenSanPham" style="width:100%"></a></td>
                                            <td class="li-product-name"><a href="#">@item.tenSanPham</a></td>
                                            <td class="li-product-price"><span class="amount">@string.Format("{0:0,0}", item.giaSanPham) VNĐ</span></td>
                                            <td class="quantity">
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" id="soLuongGH-@item.MaSanPham" value="@item.soLuong" type="number" min="1">
                                                </div>
                                            </td>
                                            <td class="product-subtotal"><span class="amount">@string.Format("{0:0,0}", item.dThanhTien) VNĐ</span></td>
                                            <td class="li-product-remove"><a href="#" class="btn-xoa-gioHang" data-id="@item.MaSanPham"><i class="fa fa-times"></i></a></td>
                                            <td class="li-product-remove"> <a href="#" class="btn-sua-gioHang" data-id="@item.MaSanPham"><i class="fa fa-edit"></i></a></td>
                                        </tr>
                                    }}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="coupon-all">
                                <div class="coupon">
                                    <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Nhập mã giảm giá" type="text">
                                    <input class="button" name="apply_coupon" value="Áp dụng phiếu giảm giá" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>
                                    Tổng số giỏ hàng
                                </h2>
                                <ul>
                                    <li>Phí ship <span>15.000 VNĐ</span></li>
                                    @if (Context.Session.GetString("TongTienGH") != null)
                                    {
                                        var tongTien = Context.Session.GetString("TongTienGH").Split('.')[0];
                                        <li>Tổng tiền <span>@string.Format("{0:0,0}", tongTien) VNĐ</span></li>
                                    }
                                </ul>
                                <a href="#">Tiến hành kiểm tra</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>