@using EcommerceWebsite.MainWeb.Models;
@using Microsoft.AspNetCore.Http;

<link href="~/css/cart/custom-all.css" rel="stylesheet" />
<link rel="stylesheet"  href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/cart/pcmall-cart.ec1659c49b3dc522bdaf.css" />
<div class="Shopping-cart-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="_1nrPtQ">
                    <div class="_1zPSKE">
                        <label class="stardust-checkbox stardust-checkbox--checked">
                            <input onclick="selectCheckboxAll()" type="checkbox" class="stardust-checkbox__input" id="checkboxAll">
                            <label class="custom-control-label" for="checkboxAll"></label>
                        </label>
                    </div>
                    <div class="_27GGo9">Sản phẩm</div>
                    <div class="_3hJbyz">Đơn giá</div>
                    <div class="_155Uu2">Số lượng</div>
                    <div class="_10ZkNr">Số tiền</div>
                    <div class="_1coJFb">Thao tác</div>
                </div>


                @foreach (var huiCart in GioHangOutput.HUICart.Values)
                {
                    <div class="_2qN5oG">
                        @if (huiCart.Count() > 0)
                        {
                            <div class="r2jApx">
                                <div class="_1NwFL3">
                                    <span class="_319wph">Deal Sốc</span>
                                    <span>Mua kèm deal độc quyền</span>
                                    <span class="NV5IY8">
                                        <a href="">
                                            Sửa<svg viewBox="0 0 12 12" fill="none" width="12" height="12" color="#ee4d2d" class="_1KsfYG">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.293 6L4.146.854l.708-.708L10 5.293a1 1 0 010 1.414l-5.146 5.147-.708-.707L9.293 6z" fill="currentColor"></path>
                                            </svg>
                                        </a>
                                    </span>
                                </div>


                                @foreach (var sp in huiCart)
                                {

                                    <div class="_216OLk MDvvnL">
                                        <div class="_1GcTXp">
                                            <div class="uUhc_B">
                                                <label class="stardust-checkbox">
                                                    <input class="stardust-checkbox__input" type="checkbox">
                                                </label>
                                            </div>
                                            <div class="_2pPbjQ">
                                                <div class="YxpsCR">
                                                    <a title="@sp.tenSanPham" href="@Url.Action("Index", "Detail", new { prdId = sp.MaSanPham, prdMaDanhMuc = "DM01" })">
                                                        <div class="_3SWf-5" style="background-image: url(@sp.hinhAnh);"></div>
                                                    </a>
                                                    <div class="_3OrWGt">
                                                        <a title="@sp.tenSanPham" href="@Url.Action("Index", "Detail", new { prdId = sp.MaSanPham, prdMaDanhMuc = "DM01" })">
                                                            @sp.tenSanPham
                                                        </a>
                                                        <div class="_2o95Vf" style="background-image: url(&quot;https://cf.shopee.vn/file/c2449a8bc44eaa3dd66dfa54f61a13c5&quot;);"></div>
                                                        <div class="_931iK8">
                                                            <span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="_30hIFE">
                                                <div class="_3b-8ro">
                                                    <div class="ns42ir" role="button" tabindex="0">
                                                        <div class="aXmvTj">
                                                            Phân loại hàng:
                                                            <button class="_2Ipt-j"></button>
                                                        </div>
                                                        <div class="GU_XoN">Trắng hồng</div>
                                                    </div>
                                                    <div></div>
                                                </div>
                                            </div>
                                            <div class="Ra8lP2">
                                                <div>
                                                    <span class="_1CXksa _1k1Vcm">@sp.giaSanPham</span>
                                                    <span class="_1CXksa">@sp.giaBan</span>
                                                </div>
                                            </div>
                                            <div class="_2ZUrV7">
                                                <div class="eLoUcd shopee-input-quantity">
                                                    <button class="_2sBbZC">
                                                        <svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0" class="shopee-svg-icon ">
                                                            <polygon points="4.5 4.5 3.5 4.5 0 4.5 0 5.5 3.5 5.5 4.5 5.5 10 5.5 10 4.5"></polygon>
                                                        </svg>
                                                    </button>
                                                    <input class="_2sBbZC k-s4Da" type="text" role="spinbutton" aria-valuenow="@sp.soLuong" value="@sp.soLuong">
                                                    <button class="_2sBbZC">
                                                        <svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0" class="shopee-svg-icon icon-plus-sign">
                                                            <polygon points="10 4.5 5.5 4.5 5.5 0 4.5 0 4.5 4.5 0 4.5 0 5.5 4.5 5.5 4.5 10 5.5 10 5.5 5.5 10 5.5"></polygon>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="dn3H7Y"><span>@sp.dThanhTien</span></div>
                                            <div class="_2y8iJi _2qPRqW">
                                                <button class="RCd1Gx">Xóa</button>
                                                <div class="_1-rOD0">
                                                    <button class="shopee-button-no-outline NJSFiA">
                                                        <span class="_16a080">Tìm sản phẩm tương tự</span>
                                                        <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="shopee-svg-icon _27CqwY icon-down-arrow-filled">
                                                            <path d="m6.5 12.9-6-7.9s-1.4-1.5.5-1.5h13s1.8 0 .6 1.5l-6 7.9c-.1 0-.9 1.3-2.1 0z"></path>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_2aRlry"></div>
                                }


                            </div>
                        }

                    </div>

                }


                @foreach (var sp in GioHangOutput.NormalCart)
                {

                    <div class="_216OLk MDvvnL">
                        <div class="_1GcTXp">
                            <div class="uUhc_B">
                                <label class="stardust-checkbox">
                                    <input class="stardust-checkbox__input" type="checkbox">
                                </label>
                            </div>
                            <div class="_2pPbjQ">
                                <div class="YxpsCR">
                                    <a title="@sp.tenSanPham" href="@Url.Action("Index", "Detail", new { prdId = sp.MaSanPham, prdMaDanhMuc = "DM01" })">
                                        <div class="_3SWf-5" style="background-image: url(@sp.hinhAnh);"></div>
                                    </a>
                                    <div class="_3OrWGt">
                                        <a title="@sp.tenSanPham" href="@Url.Action("Index", "Detail", new { prdId = sp.MaSanPham, prdMaDanhMuc = "DM01" })">
                                            @sp.tenSanPham
                                        </a>
                                        <div class="_2o95Vf" style="background-image: url(&quot;https://cf.shopee.vn/file/c2449a8bc44eaa3dd66dfa54f61a13c5&quot;);"></div>
                                        <div class="_931iK8">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="_30hIFE">
                                <div class="_3b-8ro">
                                    <div class="ns42ir" role="button" tabindex="0">
                                        <div class="aXmvTj">
                                            Phân loại hàng:
                                            <button class="_2Ipt-j"></button>
                                        </div>
                                        <div class="GU_XoN">Trắng hồng</div>
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="Ra8lP2">
                                <div>
                                    <span class="_1CXksa _1k1Vcm">@sp.giaSanPham</span>
                                    <span class="_1CXksa">@sp.giaBan</span>
                                </div>
                            </div>
                            <div class="_2ZUrV7">
                                <div class="eLoUcd shopee-input-quantity">
                                    <button class="_2sBbZC">
                                        <svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0" class="shopee-svg-icon ">
                                            <polygon points="4.5 4.5 3.5 4.5 0 4.5 0 5.5 3.5 5.5 4.5 5.5 10 5.5 10 4.5"></polygon>
                                        </svg>
                                    </button>
                                    <input class="_2sBbZC k-s4Da" type="text" role="spinbutton" aria-valuenow="@sp.soLuong" value="@sp.soLuong">
                                    <button class="_2sBbZC">
                                        <svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0" class="shopee-svg-icon icon-plus-sign">
                                            <polygon points="10 4.5 5.5 4.5 5.5 0 4.5 0 4.5 4.5 0 4.5 0 5.5 4.5 5.5 4.5 10 5.5 10 5.5 5.5 10 5.5"></polygon>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="dn3H7Y"><span>@sp.dThanhTien</span></div>
                            <div class="_2y8iJi _2qPRqW">
                                <button class="RCd1Gx">Xóa</button>
                                <div class="_1-rOD0">
                                    <button class="shopee-button-no-outline NJSFiA">
                                        <span class="_16a080">Tìm sản phẩm tương tự</span>
                                        <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="shopee-svg-icon _27CqwY icon-down-arrow-filled">
                                            <path d="m6.5 12.9-6-7.9s-1.4-1.5.5-1.5h13s1.8 0 .6 1.5l-6 7.9c-.1 0-.9 1.3-2.1 0z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_2aRlry"></div>
                }

                <div class="row">
                    <div class="col-md-5 ml-auto">
                        <div class="cart-page-total">
                            <p>
                                Tổng thanh toán (@GioHangOutput.CountCart() Sản phẩm)
                            </p>
                            <ul>
                                    
                                <li >Tổng tiền hàng <span class="text-danger ">@string.Format("{0:0,0}", GioHangOutput.Cash()) VNĐ</span></li>
                                <li>Phí vận chuyển<span>15.000 VNĐ</span></li>
                                @{
                                    var tongTien = GioHangOutput.Cash() + 15000;
                                    <li>Tổng tiền <span class="text-danger font-weight-bold">@string.Format("{0:0,0}", tongTien) VNĐ</span></li>
                                }
                            </ul>
                            <a href="#" onclick="layThanhToan()">Mua Hàng</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>