@using EcommerceWebsite.Utilities.ViewModel
@model List<CategorySetVM>
@{
}

<!-- Begin Li's Laptops Product | Home V2 Area -->
<section class="product-area li-laptop-product li-laptop-product-2 pb-45">
    <div class="container">
        <div class="row">

            @foreach (var dataSet in Model)
            {
                <div class="col-lg-12" style="padding-top: 60px">
                    <div class="li-section-title">
                        <h2>
                            <a class="font-weight-bold" > @dataSet.TenDanhMuc</a>
                        </h2>
                        <ul class="li-sub-category-list">
                            @foreach (var dmc in dataSet.ListDanhMucCon)
                            {
                                <li><a href="#">@dmc.TenDanhMuc</a></li>
                            }
                        </ul>
                    </div>
                    <div class="li-banner-2 pt-15">
                        <div class="row">
                            <!-- Begin Single Banner Area -->
                            <div class="col-lg-6 col-md-6">
                                <div class="single-banner">
                                    <a href="#">
                                        <img src="~/images/banner/2_1.jpg" alt="Li's Static Banner">
                                    </a>
                                </div>
                            </div>
                            <!-- Single Banner Area End Here -->
                            <!-- Begin Single Banner Area -->
                            <div class="col-lg-6 col-md-6">
                                <div class="single-banner pt-xs-30">
                                    <a href="#">
                                        <img src="~/images/banner/2_2.jpg" alt="Li's Static Banner">
                                    </a>
                                </div>
                            </div>
                            <!-- Single Banner Area End Here -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="product-active owl-carousel">
                            @foreach (var sp in dataSet.ListSanPham)
                            {
                                <div class="col-lg-12">
                                    <!-- single-product-wrap start -->
                                    <div class="single-product-wrap">
                                        <div class="product-image">
                                            <a href="@Url.Action("Index", "Detail",new { prdId = sp.MaSanPham, prdMaDanhMuc = sp.MaLoai})">
                                                <img src="@sp.HinhAnh" alt="@sp.TenSanPham">
                                            </a>
                                            <span class="sticker">Mới</span>
                                        </div>
                                        <div class="product_desc">
                                            <div class="product_desc_info">
                                                <div class="product-review">
                                                    <h5 class="manufacturer">
                                                        <a href="#">@sp.LoaiSanPham</a>
                                                    </h5>
                                                    <div class="rating-box">
                                                        <ul class="rating">
                                                            <li><i class="fa fa-star-o"></i></li>
                                                            <li><i class="fa fa-star-o"></i></li>
                                                            <li><i class="fa fa-star-o"></i></li>
                                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                @if (sp.TenSanPham.Length > 25)
                                                {
                                                    <h4><a class="product_name" href="@Url.Action("Index", "Detail", new { prdId = sp.MaSanPham, prdMaDanhMuc = sp.MaLoai })">@sp.TenSanPham.Substring(0, 25)...</a></h4>
                                                }
                                                else
                                                {
                                                    <h4><a class="product_name" href="@Url.Action("Index", "Detail", new {  prdId = sp.MaSanPham, prdMaDanhMuc = sp.MaLoai })">@sp.TenSanPham</a></h4>
                                                }
                                                <div class="price-box">
                                                    <span class="new-price">@string.Format("{0:0,0}", sp.GiaBan) VNĐ</span>
                                                </div>
                                            </div>
                                            <div class="add-actions">
                                                <input id="giaSanPham" value="@sp.GiaBan" hidden />
                                                <ul class="add-actions-link">
                                                    <li class="add-cart active"><a href="#" class="btn-add-cart" data-id="@sp.MaSanPham">Thêm vào giỏ</a></li>
                                                    <li><a class="links-details btn-them-yeuthich" data-id="@sp.MaSanPham" href="#"><i class="fa fa-heart-o"></i></a></li>
                                                    <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single-product-wrap end -->
                                </div>
                            }

                        </div>
                    </div>
                </div>
            }
            <!-- Begin Li's Section Area -->
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Laptops Product | Home V2 Area End Here -->
