@using EcommerceWebsite.Utilities.ViewModel
@model ThongTinKhachHangVM

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <div class="my-4">
                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Thông tin cá nhân</a>
                    </li>
                </ul>
                <form>
                    <div class="form-group">
                        <label for="firstname">Họ tên</label>
                        <input type="text" id="firstname" class="form-control" placeholder="Nhập họ tên" value="@Model.HoTen" />
                    </div>
                    <div class="form-group">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Nhập email" value="@Model.Email" />
                    </div>
                    <div class="form-group">
                        <label for="inputEmail5">Số điện thoại</label>
                        <input type="text" class="form-control" id="inputEmail5" placeholder="Nhập số điện thoại" value="@Model.SoDienThoai" />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputState5">Giới tính</label>
                            @if (Model.GioiTinh == true)
                            {
                                <select id="inputState5" class="form-control">
                                    <option selected="">Nam</option>
                                    <option>Nữ</option>
                                </select>
                            }
                            else
                            {
                                <select id="inputState5" class="form-control">
                                    <option>Nam</option>
                                    <option selected="">Nữ</option>
                                </select>
                            }
                        </div>
                        <div class="form-group col-md-6">

                        </div>
                        <div class="form-group col-md-2">

                        </div>
                    </div>
                    <a href="@Url.Action("Index","Home")" class="btn btn-danger">Lưu Thông Tin Và Đóng</a>
                    @*<button onclick="danhSachDiaChiKH()" class="btn btn-success">Chỉnh sửa danh sách địa chỉ</button>*@
                </form>
            </div>
        </div>
    </div>

</div>

<!-- Begin Quick View | Modal Area -->
<div class="modal fade modal-wrapper" id="OTPModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="review-page-title">Xác nhận thanh toán</h3>
                <div class="modal-inner-area row">
                    <div class="col-lg-12">
                        <div class="li-review-content">
                            <!-- Begin Feedback Area -->
                            <div class="feedback-area">
                                <div class="feedback">
                                    <h3 class="feedback-title">Nhập mã OTP</h3>
                                    <p>Chúng tôi vừa gửi mã xác nhận (OTP) đến email @Model.Email của bạn </p>
                                    <p>Vui lòng nhập mã để tiếp tục thanh toán </p>
                                    <form action="#">
                                        <div class="feedback-input">
                                            <div class="user-input">
                                                <input class="otp-input" type="text" id='ist' maxlength="1" onkeyup="clickOTPEvent(this,'sec')">
                                                <input class="otp-input" type="text" id="sec" maxlength="1" onkeyup="clickOTPEvent(this,'third')">
                                                <input class="otp-input" type="text" id="third" maxlength="1" onkeyup="clickOTPEvent(this,'fourth')">
                                                <input class="otp-input" type="text" id="fourth" maxlength="1" onkeyup="clickOTPEvent(this,'fifth')">
                                                <input class="otp-input" type="text" id="fifth" maxlength="1" onkeyup="clickOTPEvent(this,'sixth')">
                                                <input class="otp-input" type="text" id="sixth" maxlength="1">
                                            </div>
                                            <div class="order-button-payment">
                                                <input value="Xác nhận" type="submit" style="color:black" onclick="xacNhanOTP()" />
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>