@using EcommerceWebsite.Utilities.ViewModel
@using EcommerceWebsite.Data.Enum
@model DoanhThuVM
@{
    if (Model == null)
    {
        return;
    }
    var sanPham = Model.SanPham;
    Model.SanPham.giaBan = Model.SanPham.BangGia.FirstOrDefault().GiaBan;
    var dicNhapBan = Model.ListSanPhamNhapVaBan;
    var listDinhLuong = sanPham.ListThongSo;
    var listDanhMuc = Model.ListDanhMuc;
    var listThongSo = Model.ListDinhLuong;
    var listKeys = dicNhapBan.Keys.ToList();
    var ngayNhapCuoi = listKeys.LastOrDefault();
    var giaNhapGanNhat = dicNhapBan[ngayNhapCuoi].FirstOrDefault().DonGiaNhap;
}

<div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">@*@sanPham.TenSanPham*@</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Danh sách sản phẩm </a></li>
                        <li class="breadcrumb-item"><a href="#!">Chi tiết</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px">
                <h5 class="mt-5">Thông tin sản phẩm</h5>
                <hr>
                <form class="needs-validation" asp-action="CapNhatSanPham" method="post" asp-controller="DoanhThu">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-3"></div>
                        <div class="col-3"></div>
                        <div class="col-3">
                            <button class="btn mt-3 mb-3 btn-primary float-left" type="button" onclick="SubmitForm()">Cập nhật thông tin</button>
                        </div>
                        @*<button class="btn mt-3 mb-3 btn-primary" type="button" onclick="SubmitForm()">Cập nhật lợi nhuận</button>*@
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <label class="form-label" asp-for="SanPham.MaSanPham">ID</label>
                            <input type="text" asp-for="SanPham.MaSanPham" placeholder="ID" class="form-control" readonly />
                        </div>
                        <div class="col-md-8 mb-8">
                            <label class="form-label" asp-for="SanPham.TenSanPham">Tên Sản Phẩm</label>

                            <input type="text" asp-for="SanPham.TenSanPham" placeholder="Tên sản phẩm" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 mb-2">
                            <label class="form-label" asp-for="SanPham.SoLuongTon">Số lượng tồn</label>
                            <input type="number" class="form-control text-box single-line" style="max-width: 100px;" asp-for="SanPham.SoLuongTon" value="@sanPham.SoLuongTon" id="SoLuongTon" name="SoLuongTon" readonly />
                        </div>
                        <div class="col-md-5 mb-5">
                            <label class="form-label" asp-for="SanPham.MaLoai">Danh mục</label>
                            <select id="danh-muc-selection-id" class="form-control text-box single-line" name="MaLoai">
                                @foreach (var item in listDanhMuc)
                                {
                                    @if (item.DanhMucCon != null && item.DanhMucCon.Count() > 0)
                                    {
                                        <optgroup label="@item.TenDanhMuc">
                                            @foreach (var dmc in item.DanhMucCon)
                                            {
                                                <option value="@dmc.MaDanhMuc">@dmc.TenDanhMuc</option>
                                            }
                                        </optgroup>
                                    }
                                    else
                                    {
                                        <option value="@item.MaDanhMuc">@item.TenDanhMuc</option>

                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-5 mb-5">
                            <label class="form-label" asp-for="SanPham.NhanHieu">Nhãn Hiệu</label>
                            <select class="form-control text-box single-line" id="nhan-hieu-selection-id" name="NhanHieu">
                                @foreach (var item in Model.ListNhanHieu)
                                {
                                    <option value="@item.MaHang">@item.TenHang</option>
                                }
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" onclick="onCheckPercent()" type="checkbox" value="" id="percentageAgree">
                            <label class="form-check-label">Thiết lập giá theo phần trăm lợi nhuận (%)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label class="form-label" asp-for="SanPham.giaBan">Giá hiện tại</label>
                            <input type="text" class="form-control text-box single-line" asp-for="SanPham.giaBan" value="@string.Format("{0:0,0}",sanPham.giaBan)" id="giaBan" name="giaBan" />
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="form-label">Giá nhập gần nhất</label>
                            <input type="text" class="form-control text-box single-line" value="@string.Format("{0:0,0}",giaNhapGanNhat)" id="GiaNhapGanNhat" readonly name="GiaNhapGanNhat" />
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="form-label" id="loi-nhuan-title">Lợi nhuận</label>
                            <input type="text" class="form-control text-box single-line" onkeyup="updateProductPride(this.value)" id="LoiNhuan" name="LoiNhuan" />
                            <span id="loi-nhuan-error" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="form-label" asp-for="SanPham.ThanhTien">Giá Mới</label>
                            <input type="text" asp-for="SanPham.ThanhTien" class="form-control text-box single-line" id="ThanhTien" name="ThanhTien" readonly />
                        </div>

                    </div>
                </form>

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <h5 class="mb-3">THÔNG SỐ SẢN PHẨM</h5>
            <hr>

            <div class="card">
                <form class="needs-validation" style="padding-left: 50px; padding-right: 50px; padding-top: 50px; ">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label" asp-for="ListDinhLuong">Chọn thuộc tính</label>
                                        <select class="form-control" id="thong-so-selection-id">
                                            @foreach (var item in listThongSo)
                                            {
                                                <option value="@item.MaThuocTinh">@item.TenThuocTinh</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-6">
                                    <label class="form-label" for="">Giá Trị</label>
                                    <input type="text" class="form-control" id="GiaTriTT" placeholder="Giá trị">
                                </div>

                                <div class="col-md-6 mb-6">
                                    <label class="form-label" for="">Đơn Vị</label>
                                    <input type="text" class="form-control" id="DonViTT" placeholder="Đơn vị">
                                </div>
                                <div class="col-3">
                                    <button class="btn mt-3 mb-3 btn-primary float-left" type="button" onclick="ThemDinhLuong()">Thêm thông số</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="card-body table-border-style">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Thông Số</th>
                                    <th>Giá Trị</th>
                                    <th>Đơn Vị</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in listDinhLuong)
                                {
                                    <tr>

                                        <td>@item.ThuocTinh</td>
                                        <td><input asp-for="@item.GiaTri" id="@string.Concat(item.MaDinhLuong,"_gt")" value="@item.GiaTri" type="text" class="form-control" /></td>
                                        @if (item.MaThuocTinh == ProductPorpertyCode.TT014.ToString())
                                        {
                                            if (item.GiaTri == null)
                                            {
                                                <td><img src="https://i.ibb.co/jzN4xyb/Blue-with-Gold-Laurel-Education-Logo-9-1-removebg-preview.png" style="width: 250px;" alt="@item.DonVi" data-target="#inputImg" data-toggle="modal" /></td>
                                            }
                                            else
                                            {
                                                <td><img src="@item.GiaTri" style="width: 250px;" alt="@item.DonVi" data-target="#inputImg" data-toggle="modal" /></td>

                                            }

                                        }
                                        else
                                        {
                                            <td><input asp-for="@item.DonVi" id="@string.Concat(item.MaDinhLuong,"_dv")" value="@item.DonVi" type="text" class="form-control" /></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <h2 class="mb-3">DOANH THU</h2>

        @foreach (var date in listKeys)
        {
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="mb-3">Ngày nhập: @date</h5>
                    <p>
                        <span>Đơn giá nhập: @string.Format("{0:0,0}", dicNhapBan[date].FirstOrDefault().DonGiaNhap)</span><br />
                        <span>Số lượng nhập: @dicNhapBan[date].FirstOrDefault().SoLuongNhap</span><br />
                        <span>Tổng nhập: @string.Format("{0:0,0}", dicNhapBan[date].FirstOrDefault().TongTienNhap)</span><br />
                    </p>
                    <hr>

                    <div class="card">
                        <div class="card-body table-border-style">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Ngày Bán</th>
                                            <th>Đã Bán</th>
                                            <th>Số Tồn</th>
                                            <th>Đơn Giá Bán</th>
                                            <th>Tổng Tiền Bán</th>
                                            <th>Lợi Nhuận</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                    var listHoaDon = dicNhapBan[date];

                                    @foreach (var hd in listHoaDon)
                                            {
                                        <tr>

                                            <td>@hd.NgayBan</td>
                                            <td>
                                                @hd.DaBan
                                            </td>
                                            <td>
                                                @hd.SoLuongTon
                                            </td>
                                            <td>
                                                @string.Format("{0:0,0}", hd.DonGiaBan) VNĐ
                                            </td>
                                            <td>
                                                @string.Format("{0:0,0}", hd.TongTienBan) VNĐ
                                            </td>
                                            @if (hd.LoiNhuan <= 0)
                                            {
                                                <td><span class="text-danger"> @hd.LoiNhuan</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="font-weight-bold"> @hd.LoiNhuan</span></td>
                                            }

                                        </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>





    @*<div class="row mt-3">
        <div class="col-sm-12">
            <h5 class="mb-3">DOANH THU</h5>
            <hr>
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Ngày Nhập</th>
                                        <th>Số Lượng Nhập</th>
                                        <th>Đơn Giá Nhập</th>
                                        <th>Tổng Tiền Nhập</th>
                                        <th>Số Tồn</th>
                                        <th>Đã Bán</th>
                                        <th>Đơn Giá Bán</th>
                                        <th>Tổng Tiền Bán</th>
                                        <th>Lợi Nhuận</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in dicNhapBan)
                                    {
                                        <tr>

                                            <td>@item.NgayNhap</td>
                                            <td>@item.SoLuongNhap</td>
                                            <td>@string.Format("{0:0,0}", item.DonGiaNhap) VNĐ</td>
                                            <td>@string.Format("{0:0,0}", item.TongTienNhap) VNĐ</td>
                                            <td>@item.SoLuongTon</td>
                                            <td>@item.DaBan</td>
                                            <td>@string.Format("{0:0,0}", item.DonGiaBan) VNĐ</td>
                                            <td>@string.Format("{0:0,0}", item.TongTienBan) VNĐ</td>
                                            <td>@item.LoiNhuan</td>


                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>*@
</div>

<script>
    $(document).ready(function () {
        init();
        setUpProductPrice();
    });

    function init() {
        //$('.danh-muc-selection-id .select-styled').text('@sanPham.LoaiSanPham');
        var danhMucSelected = document.getElementById('danh-muc-selection-id');
        danhMucSelected.value = '@sanPham.MaLoai';
        var nhanHieuSelected = document.getElementById('nhan-hieu-selection-id');
        nhanHieuSelected.value = '@sanPham.MaNhanHieu';
        @*$('.nhan-hieu-selection-id .select-styled').text('@sanPham.NhanHieu');*@
        if ('@sanPham.NguoiSuaCuoi' === '1')
            $('#percentageAgree').prop('checked', true);
    }

    function onCheckPercent() {
        setUpProductPrice();
    }

    function setUpProductPrice() {

        var type = document.getElementById("percentageAgree");

        var giaNhapTxt = @giaNhapGanNhat;
        var giaBanTxt = @sanPham.giaBan;
        if (giaBanTxt !== undefined && giaBanTxt !== '') {
            var giaNhap = Number(giaNhapTxt);
            var giaBan = Number(giaBanTxt);
            if (type.checked) {
                //by percent
                $('#loi-nhuan-title')[0].innerHTML = 'Lợi nhuận (%)';

                var ln = ((giaBan - giaNhap) / giaNhap) * 100;
                $('#LoiNhuan').val(ln);
            }
            else {
                var ln = giaBan - giaNhap;
                var tien = parseFloat(ln);
                var tien2 = format2(tien);
              
                $('#LoiNhuan').val(tien2);
                $('#loi-nhuan-title')[0].innerHTML = 'Lợi nhuận (VND)';
            }
        }
    }

    function updateProductPride(value) {
        var giaNhapTxt = @giaNhapGanNhat;
        var type = document.getElementById("percentageAgree");
        if (giaNhapTxt !== undefined && giaNhapTxt !== '') {
            var giaNhap = Number(giaNhapTxt);
            var loiNhuan = Number(value);
            if (type.checked) {
                //by percent
                var giaBan = giaNhap * (1 + (loiNhuan / 100));
                var tien = parseFloat(giaBan);
                var tien2 = format2(tien);
                $('#ThanhTien').val(tien2);
            }
            else {
                var giaBan = giaNhap + loiNhuan;
                var tien = parseFloat(giaBan);
                var tien2 = format2(tien);
                $('#ThanhTien').val(tien2);
            }

        }
    }

    function format2(n) {
        return n.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
    }

    function SubmitForm() {
        var loiNhuanMongMuon = $('#LoiNhuan').val();
        if (Number(loiNhuanMongMuon) <= 0) {
            $("#loi-nhuan-error")[0].innerHTML = 'Lợi nhuận phải lớn hơn 0';
            return;
        }
        else if (isNaN(loiNhuanMongMuon)) {
            $("#loi-nhuan-error")[0].innerHTML = 'Giá trị không hợp lệ';
            return;
        }
        else {
            $("#loi-nhuan-error")[0].innerHTML = '';
            var fd = new FormData();
            var type = document.getElementById("percentageAgree");

            var masp = $('#SanPham_MaSanPham').val();
            var tensp = $('#SanPham_TenSanPham').val();
            var maloai = $('#danh-muc-selection-id').val();
            var nhanhieu = $('#nhan-hieu-selection-id').val();
            var percentageAgree = type.checked ? 1 : 0;
            var giaBan = $('#giaBan').val();
            var thanhTien = $('#ThanhTien').val();

            fd.append('MaSanPham', masp);
            fd.append('TenSanPham', tensp);
            fd.append('MaLoai', maloai);
            fd.append('NhanHieu', nhanhieu);
            fd.append('NguoiSuaCuoi', percentageAgree);
            fd.append('giaBan', giaBan);
            fd.append('ThanhTien', thanhTien);


            $.ajax({
                url: '/cap-nhat-san-pham',
                type: 'POST',
                dataType: 'json',
                data: fd,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                success: function (result) {
                    location.reload();
                },
                error: function (err) {
                    location.reload();
                }
            });
        }
    }
    function ThemDinhLuong() {


        var masp = $('#SanPham_MaSanPham').val();
        var MaThuocTinh = $('#thong-so-selection-id').val();
        var GiaTri = $('#GiaTriTT').val();
        var DonVi = $('#DonViTT').val();

        $.ajax({
            url: '/DoanhThu/ThemDinhLuongSanPham',
            dataType: 'json',
            data: {
                maThuocTinh: MaThuocTinh,
                maSanPham: masp,
                giaTri: GiaTri,
                DonVi: DonVi
            },

            success: function (result) {
                location.reload();
            },
            error: function (err) {
                location.reload();
            }
        });
    }
</script>