@using EcommerceWebsite.Utilities.ViewModel
@using EcommerceWebsite.Data.Enum
@using System.Security.Claims
@model DetailVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Chi Tiết";
}

@{
    //var pre = (Dictionary<string, string>)ViewData["PreviousPage"];
    var sanPham = Model.SanPham;
    var khachHang = Model.KhachHang;
    var huis = Model.HUIItems;
    var bangThongSo = sanPham.ListThongSo.Where(ts => ts.MaThuocTinh != nameof(ProductPorpertyCode.TT07)
    && ts.MaThuocTinh != nameof(ProductPorpertyCode.TT014)).ToList();
    var bangDinhLuong = sanPham.BangGia.Where(dl => dl.MaThuocTinh == nameof(ProductPorpertyCode.TT07)).ToList();
    //var demision = Model.SanPham.
}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="~/css/detail/style.css" rel="stylesheet" />
<script>
    var model = @Json.Serialize(Model);

</script>
<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li class="active">@sanPham.TenSanPham</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- content-wraper start -->
<div class="content-wraper">
    <div class="container">
        <div class="row single-product-area">
            <div class="col-lg-5 col-md-6">
                <!-- Product Details Left -->
                <div class="product-details-left" >
                    <div class="product-details-images slider-navigation-1">

                        @foreach (var img in sanPham.ListHinhAnh)
                        {
                            <div class="lg-image">
                                <a class="popup-img venobox vbox-item" href="@img.GiaTri" data-gall="myGallery">
                                    <img src="@img.GiaTri" alt="@img.DonVi">
                                </a>
                            </div>
                        }
                    </div>
                    <div class="product-details-thumbs slider-thumbs-1" style="padding-top: 20px">
                        @foreach (var img in sanPham.ListHinhAnh)
                        {
                            <div class="sm-image"><img src="@img.GiaTri" alt="@img.DonVi"></div>
                        }
                    </div>
                </div>
                <div class="product-additional-info pt-25" style="margin-top: 20px">
                    <a class="wishlist-btn btn-them-yeuthich" data-id="@sanPham.MaSanPham"><i class="fa fa-heart-o"></i>Thêm vào danh sách yêu thích</a>
                    <div class="product-social-sharing pt-25">
                        <ul>
                            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                            <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i>Google +</a></li>
                            <li class="instagram"><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
                        </ul>
                    </div>
                </div>
                <div class="block-reassurance">
                    <ul>
                        <li>
                            <div class="reassurance-item">
                                <div class="reassurance-icon">
                                    <i class="fa fa-check-square-o"></i>
                                </div>
                                <p> Đảm bảo chất lượng hàng hóa</p>
                            </div>
                        </li>
                        <li>
                            <div class="reassurance-item">
                                <div class="reassurance-icon">
                                    <i class="fa fa-truck"></i>
                                </div>
                                <p> Giao hàng nhanh chóng và an toàn</p>
                            </div>
                        </li>
                        <li>
                            <div class="reassurance-item">
                                <div class="reassurance-icon">
                                    <i class="fa fa-exchange"></i>
                                </div>
                                <p> Hỗ trợ đổi trả hàng hóa </p>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--// Product HUI Left -->
                <!--// Product Details Left -->
            </div>

            <div class="col-lg-7 col-md-6">
                <div class="product-details-view-content pt-60">
                    <div class="product-info">
                        <h2>@sanPham.TenSanPham</h2>
                        <span class="product-details-ref">Nhãn hàng: @sanPham.NhanHieu</span>
                        <div class="rating-box pt-20">
                            <ul class="rating rating-with-review-item">
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                <li class="review-item rating-view"><a href="#reviews">Xem {@sanPham.ListBinhLuan.Count()} bình luận</a></li>
                                <li class="review-item"><a href="#reviews" data-target="#mymodal" data-toggle="modal">Bình luận</a></li>
                            </ul>
                        </div>
                        <div class="price-box pt-20">
                            <span class="new-price new-price-2 product-pride-id"></span>
                        </div>
                        <div class="product-desc">
                            <p>
                                <span class="product-desciption-shortcut">
                                    @(sanPham.DanhGia.Count > 0 ? sanPham.DanhGia[0].NoiDung : "Sản phẩm chưa có mô tả")
                                </span>
                                <br>
                                <a style="text-decoration: none; color: black" href="#description">Xem thêm</a>
                            </p>
                        </div>
                        <div class="product-variants">
                            <div class="produt-variants-size">
                                <label for="">Dung lượng</label>
                                @Html.DropDownListFor(sp => sp.SanPham.BangGia, new SelectList(bangDinhLuong, "MaDinhLuong", "TenDinhLuong"), new
                                {
                               @class = "nice-select",
                               @onchange = "dinhLuongChanged(this)",
                               placeholder = "Dung lượng"
                           })
                            </div>
                        </div>
                        <div class="single-add-to-cart">
                            <form action="#" class="cart-quantity">
                                <div class="quantity">
                                    <label>Số lượng</label>
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box" id="soLuongThemGH" value="1" type="text">
                                        <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                        <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                    </div>
                                </div>
                                <input id="giaSanPham" value="120000000" hidden />
                                <a href="#" class="btn-add-cart" type="button" data-id="@sanPham.MaSanPham">Thêm vào giỏ</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wraper end -->
<!-- Begin Product Area -->
<div class="product-area pt-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="li-product-tab">
                    <ul class="nav li-product-menu">
                        <li><a class="active" data-toggle="tab" href="#description"><span>Giới thiệu sản phẩm</span></a></li>
                        <li><a data-toggle="tab" href="#product-details"><span>Thông số kĩ thuật</span></a></li>
                        <li><a data-toggle="tab" href="#reviews"><span>Reviews</span></a></li>
                    </ul>
                </div>
                <!-- Begin Li's Tab Menu Content Area -->
            </div>
        </div>
        <div class="tab-content">
            <div id="description" class="tab-pane active show" role="tabpanel">
                <div class="product-description">
                    @if (sanPham.DanhGia.Count > 0)
                    {
                        <div class="article__content showall review-post">
                            <h2 class="font-weight-bold">@sanPham.DanhGia[0].TieuDe</h2>
                        </div>
                        <p style="text-align: center;">
                            <a class="popup-img venobox vbox-item" href="@sanPham.DanhGia[0].HinhAnhDanhGia" data-gall="myGallery">
                                <img src="@sanPham.DanhGia[0].HinhAnhDanhGia" alt="@sanPham.DanhGia[0].NoiDung">
                            </a>
                        </p>
                        <div class="container" style="display: flex; justify-content: center;">
                            <a href="#" data-bs-toggle="collapse" class="li-btn" data-bs-target="#collapseTodo" aria-expanded="false" aria-controls="collapseTodo" style="position: absolute;">
                                Xem Thêm
                            </a>
                        </div>
                        <div class="collapse" id="collapseTodo">
                            @foreach (var dg in sanPham.DanhGia)
                            {
                                var title = dg.NoiDung.Split('|');
                                @if (title.Length > 1)
                                {
                                    <h3>@title[0]</h3>
                                    <p>@title[1]</p>
                                }
                                else
                                {
                                    <p>@title[0]</p>
                                }
                                <p style="text-align: center;">
                                    <a class="popup-img venobox vbox-item" href="@dg.HinhAnhDanhGia" data-gall="myGallery">
                                        <img src="@dg.HinhAnhDanhGia" alt="@dg.TieuDe">
                                    </a>
                                </p>
                            }

                        </div>
                    }
                    else
                    {
                        <div class="article__content showall review-post">

                            <h2 class="font-weight-bold">Sản phẩm chưa có bài đánh giá</h2>
                        </div>
                    }

                </div>
            </div>
            <div id="product-details" class="tab-pane" role="tabpanel">
                <div class="product-details-manufacturer">
                    <div class="cart-table table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                @foreach (var ts in bangThongSo)
                                {
                                    <tr>
                                        <td class="pro-title">
                                            <a href="#">@ts.ThuocTinh</a>
                                        </td>
                                        <td class="pro-price"><span>@ts.DonVi</span></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div id="reviews" class="tab-pane" role="tabpanel">
                <div class="product-reviews">
                    @foreach (var bl in sanPham.ListBinhLuan)
                    {
                        <div class="product-details-comment-block">
                            <div class="comment-review">
                                <span>Đánh giá</span>
                                @if (bl.SoSao == 1)
                                {
                                    <ul class="rating">
                                        <li class="product-rating-comment"><i class="fa fa-star-o"></i></li>
                                    </ul>
                                }
                                else if (bl.SoSao == 2)
                                {
                                    <ul class="rating">
                                        <li class="product-rating-comment"><i class="fa fa-star-o"></i></li>
                                        <li class="product-rating-comment"><i class="fa fa-star-o"></i></li>
                                    </ul>
                                }
                                else if (bl.SoSao == 3)
                                {
                                    <ul class="rating">
                                        <li class="product-rating-comment"><i class="fa fa-star-o"></i></li>
                                        <li class="product-rating-comment"><i class="fa fa-star-o"></i></li>
                                        <li class="product-rating-comment"><i class="fa fa-star-o"></i></li>
                                    </ul>
                                }
                                else if (bl.SoSao == 4)
                                {
                                    <ul class="rating" id="@bl.SoSao">
                                        <li class="product-rating-comment"><i class="fa fa-star-o"></i></li>
                                        <li class="product-rating-comment"><i class="fa fa-star-o"></i></li>
                                        <li class="product-rating-comment"><i class="fa fa-star-o"></i></li>
                                        <li class="product-rating-comment"><i class="fa fa-star-o"></i></li>
                                        <li class="product-rating-comment"><i class="fa fa-star-o"></i></li>
                                    </ul>
                                }
                                else if (bl.SoSao == 5)
                                {
                                    <ul class="rating" id="@bl.SoSao">
                                        <li class="product-rating-comment"><i class="fa fa-star-o"></i></li>
                                        <li class="product-rating-comment"><i class="fa fa-star-o"></i></li>
                                        <li class="product-rating-comment"><i class="fa fa-star-o"></i></li>
                                        <li class="product-rating-comment"><i class="fa fa-star-o"></i></li>
                                        <li class="product-rating-comment"><i class="fa fa-star-o"></i></li>
                                    </ul>
                                }
                            </div>
                            <div class="comment-author-infos pt-25">
                                <span>@bl.NguoiTao</span>
                                <em>@bl.NgayTao</em>
                            </div>
                            <div class="comment-details">
                                <h4 class="title-block rating-desciption"></h4>
                                <p>@bl.NoiDung</p>
                            </div>

                        </div>

                    }

                    <!-- Begin Footer | Modal Area -->

                    <div class="product-details-comment-block">

                        <div class="review-btn">
                            <a class="review-links" href="#" data-toggle="modal" data-target="#mymodal">Viết bình luận</a>

                            @*@if (User.Identity.Name != null)
                                {
                                    <a class="review-links" href="#" data-toggle="modal" data-target="#mymodal">Viết bình luận</a>
                                }
                                else
                                {
                                    <a class="review-links" href="@Url.Action("Index", "KhachHang")">Viết bình luận</a>
                                }*@

                        </div>
                        <!-- Begin Quick View | Modal Area -->
                        <div class="modal fade modal-wrapper" id="mymodal">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h3 class="review-page-title">Đánh giá sản phẩm</h3>
                                        <div class="modal-inner-area row">
                                            <div class="col-lg-6">
                                        
                                                <div class="li-review-product">
                                                    <img src="@Model.SanPham.ListHinhAnh[0].GiaTri" alt="@Model.SanPham.TenSanPham" style="max-width: 400px">
                                                    <div class="li-review-product-desc">
                                                        <p class="li-product-name">@Model.SanPham.TenSanPham</p>
                                                        <p>
                                                            <span>@(sanPham.DanhGia.Count > 0 ? sanPham.DanhGia[0].NoiDung : "Sản phẩm chưa có mô tả")</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="li-review-content">
                                                    <!-- Begin Feedback Area -->
                                                    <div class="feedback-area">
                                                        <div class="feedback">
                                                            <h3 class="feedback-title">Cảm nhận sản phẩm</h3>
                                                            <form action="#">
                                                                <p class="your-opinion">
                                                                    <label>Đánh giá</label>
                                                                    <span>
                                                                        <select class="star-rating" id="soSao">
                                                                            <option value="1">1</option>
                                                                            <option value="2">2</option>
                                                                            <option value="3">3</option>
                                                                            <option value="4">4</option>
                                                                            <option value="5">5</option>
                                                                        </select>
                                                                    </span>
                                                                </p>
                                                                <p class="feedback-form">
                                                                    <label for="feedback">Nội dung</label>
                                                                    <textarea id="noiDung"  name="comment" cols="45" rows="8" aria-required="true"></textarea>
                                                                </p>
                                                                <div class="feedback-input">
                                                                    @if (khachHang != null)
                                                                    {
                                                                        <p class="feedback-form-author">
                                                                            <label>
                                                                                Gửi từ:
                                                                            </label>
                                                                            <label class="ml-2">
                                                                                @khachHang.TenKhachHang
                                                                            </label>
                                                                        </p>
                                                                        <p class="feedback-form-author feedback-form-email">
                                                                            <label for="email">
                                                                                Email<span class="required">*</span>
                                                                            </label>
                                                                            <label class="ml-2">
                                                                                @khachHang.Email
                                                                            </label>
                                                                        </p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p class="feedback-form-author">
                                                                            <label for="author">
                                                                                Email <span class="required">*</span>
                                                                            </label>
                                                                            <input id="email-feedback-id" name="email-feedback" value="" size="30" aria-required="true" type="text">
                                                                        </p>
                                                                        <p class="feedback-form-author feedback-form-email">
                                                                            <label for="email">
                                                                                Mật khẩu <span class="required">*</span>
                                                                            </label>
                                                                            <input id="pass-feedback-id" name="pass-feedback" value="" size="30" aria-required="true" type="password">
                                                                            <span class="required"><sub>*</sub> Required fields</span>
                                                                        </p>
                                                                    }
                                                                <div class="feedback-btn pb-15">
                                                                    <input id="MaSP" value="@sanPham.MaSanPham" hidden />
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">Hủy</button>
                                                                    <a href="#" onclick="submitComment()">Bình luận</a>
                                                                </div>

                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- Feedback Area End Here -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Quick View | Modal Area End Here -->
                    </div>

                    <!-- End Footer | Modal Area -->

                </div>
            </div>
        </div>
    </div>
</div>
@if (huis != null)
{
    <section class="product-area li-laptop-product pt-30 pb-50">
        <div class="container">
            <div class="li-section-title">
                <h2>
                    <span class="font-weight-bold">Sản phẩm thường mua cùng</span>
                </h2>
            </div>
            <div class="row">

                <div class="product-active owl-carousel">
                    @foreach (var sp in huis)
                    {
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="@Url.Action("Index", "Detail", new { prdId = sp.MaSanPham })">
                                        <img src="@sp.HinhAnh" alt="@sp.TenSanPham">
                                    </a>
                                    <span class="sticker">Mới</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <a href="#">@sp.LoaiSanPham</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        @if (sp.TenSanPham.Length > 10)
                                        {
                                            <h4><a class="product_name" href="@Url.Action("Index", "Detail", new { prdId = sp.MaSanPham })">@sp.TenSanPham.Substring(0, 10)...</a></h4>
                                        }
                                        else
                                        {
                                            <h4><a class="product_name" href="@Url.Action("Index", "Detail", new { prdId = sp.MaSanPham })">@sp.TenSanPham</a></h4>
                                        }
                                        <div class="price-box">
                                            <span class="new-price">@string.Format("{0:0,0}", sp.GiaBan) VNĐ</span>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                       
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a href="#">Thêm vào giỏ</a></li>
                                            <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}
@(await Html.PartialAsync("/Views/Detail/_ListSanPhamTuongTu.cshtml", Model.SanPhamOutPut))

<script>
    $(function () {
        var dft_price = model.sanPham.bangGia[0].giaBan;
        $('.product-pride-id').text(dft_price + ' VNĐ');
    });

    function dinhLuongChanged(e) {
        var valueDemission = e.value;
        var prd_pride = model.sanPham.bangGia.find(x => x.maDinhLuong === valueDemission);
        console.log(prd_pride);
        $('.product-pride-id').text(prd_pride.giaBan + ' VNĐ');
    };

    function submitComment() {

        //const sp = {};
        var fd = new FormData();
        //sp.id = $(this).data('id');
        //sp.NoiDung = $('#noiDung').val();
        //sp.soSao = $('#soSao').val();
        if (!model.khachHang) {
            var _pass = $("#pass-feedback-id").val();
            var _email = $("#email-feedback-id").val();

            fd.append('MatKhau', _pass);
            fd.append('Email', _email);
        }
        var _nodung = $('#noiDung').val();
        var _masp = $('#MaSP').val();
        var _sosao = $('#soSao').val();
        fd.append('SoSao', _sosao);
        fd.append('NoiDung', _nodung);
        fd.append('MaSanPham', _masp);
        $.ajax({
            type: 'POST',
            url: 'post-cmt',
            dataType: 'json',
            data: fd,
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            success: function (data) {
                if (data.code == 1) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Vui lòng đăng nhập',
                        showConfirmButton: false,
                        timer: 2500
                    });
                }
                else if (data.code == 2) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Vui lòng kiểm tra lại',
                        showConfirmButton: false,
                        timer: 2500
                    });
                }
                else {
                    Swal.fire({
                        icon: 'success',
                        title: 'Bình luận thành công',
                        showConfirmButton: false,
                        timer: 2500
                    });
                    $('#noiDung').val('');
                    $('#MaSP').val('');
                    $('#soSao').val('');
                }

                //console.log(data.soLuong);
                //$("#soLuongGioHang").html(data.soLuong);
            },
            error: function (err) {
                Swal.fire({
                    icon: 'error',
                    title: 'Đã xảy ra lỗi',
                    text: 'Vui lòng thử lại',
                    showConfirmButton: false,
                    timer: 2500
                });
                console.log(err);
            }
        });
    }
    
</script>
