@using EcommerceWebsite.Data.Entities
@model List<ChiTietHoaDon>

<div class="compare-area pt-60 pb-60">
    @foreach (var item in Model)
    {
        <br />
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="coupon-accordion">
                        <h3>@item.HoaDons.PhuongThucThanhToan<span id="showlogin" style="float:right;">@item.HoaDons.TinhTrang</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-image">
                        <a href="single-product.html">
                            <img src="@item.SanPhams.HinhAnh" alt="@item.SanPhams.TenSanPham" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <br />
                    <h4>@item.SanPhams.TenSanPham</h4>
                    <br />
                    <span>@item.SoLuong</span>
                </div>
                <div class="col-lg-2" style="text-align:end;">
                    <span>@string.Format("{0:0,0}", item.GiaBan) VNĐ</span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-3">
                    <h6>Đánh giá sản phẩm</h6>
                </div>
                <div class="col-lg-5">

                </div>
                <div class="col-lg-2">
                    <button class="form-control" style="background: #ff6a00; float:right">Đánh giá</button>
                </div>
                <div class="col-lg-2">
                    <button class="form-control" style="background: #808080; float: right">Mua lại</button>
                </div>
            </div>
        </div>
    }
</div>

